.product-title {
    font-weight: bold;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.product-card {
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    max-height: 120px;
    object-fit: cover;
}

.related-products-title {
    margin-bottom: 30px;
    text-align: center;
}

.product-form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.product-form-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.products-page {
    text-align: center;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .filter-form {
    margin-bottom: 20px;
  }
  
  .filter-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .filter-btn {
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  
  .filter-btn.reset-btn {
    background-color: #6c757d;
    color: white;
  }
  
  .filter-btn:hover {
    opacity: 0.8;
  }
  
  .filter-btn:active {
    opacity: 1;
  }
  